<!--Para aliniar algo en con bootstrap se añade g-0 y se le quita el padding que tenga
mb: separacion entre la columna de arriba y de abajo-->
<div class="task row g-0 border rounded mb-2 p-2">
    <div class="col-2 text-center m-auto">
        <!--Para añadir la fecha actual y no estar como en bucle y en el ts 
        hay que importar el DateTime porque sino daria error-->

        <span>{{task.date | date: 'dd/MM/YYYY'}}</span> 
    </div>
    <!--text-truncate: sirve para trucar el texto pero no vemos entero el texto para ello 
    vamos a añadir un atributo 
    que le decimos que queremos ver todo el texto-->
    <div class="col-8 m-auto text-truncate" [title]="task.description">
        <span>{{task.description}}</span>

    </div>
    <div class="col-2 text-end">
        <i class="task__icon bi bi-pencil-fill text-success" (click)="completeTask()"></i>
        <i class="task__icon bi bi-trash-fill text-danger" (click)="removeTask()"></i>
    </div>
</div>
