<form [formGroup]="formPost" (ngSubmit)="submit()">

    <!-- Campo id -->
    <input type="hidden" name="id" formControlName="_id">

    <div class="row">
        <div class="col-lg-8 col-12 mt-2">

            <!-- Titulo -->
            <div class="row mt-2">
                <div class="col-12">
                    <label class="form-label" for="title">Título*</label>
                    <input type="text" name="title" id="title" formControlName="title" class="form-control" maxlength="100">
                </div>
            </div>

            <!-- Contenido del post -->
            <div class="row mt-2">
                <div class="col-12">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                    </ngx-editor-menu>
                    <ngx-editor [editor]="editor" formControlName="content" placeholder="Contenido del post...">
                    </ngx-editor>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary ms-2" routerLink="/dashboard/posts">Volver</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-12 mt-5">

            <!-- Widget fecha de publicacion -->
            <div class="row">
                <div class="col-12">
                    <app-widget>
                        <div widget-title>Fecha de publicación</div>
                        <div widget-body>
                            <div class="row">
                                <div class="col-10">
                                    <input type="datetime-local" name="" id="" class="form-control" formControlName="publishedDate">
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary" type="button" (click)="clearDate()">
                                        <i class="bi bi-x-lg"></i>
                                    </button>

                                </div>
                            </div>

                            
                        </div>
                    </app-widget>
                </div>
            </div>
        </div>
    </div>
</form>
            
 