<div class="row list-countries">
    <div class="col-12">
        <div class="row">
            <div class="col-md-5 col-12">
                @if(subregions$ | async; as listSubregions){
                    <select name="subregions" class="form-control" [(ngModel)]="subregionSelected"
                     placeholder="Selecciona una región" (change)="filterCountries()">
                        @for(subregion of listSubregions; track subregion){
                            <option [value]="subregion">{{subregion}}</option>
                        }
                    </select>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12">

                <div class="row mt-4 mb-4">
                    <div class="col-12">
                        <span class="h1">Paises</span>
                    </div>
                </div>
                <div class="row border rounded">
                   <div class="col-12">
                     @if(loadCountries){
                       @for(country of listCountries; track country.name){
                            <div class="row g-0 list-countries__country border mb-2 mt-2">
                                <div class="col-3">
                                    <img class="img-fluid" [src]="country.flag" alt="country.name" >
                                </div>
                                <div class="col-9 text-center align-content-center">
                                    <span>{{country.name}}</span>
                                </div>
                            </div>
                        }
                    }@else{
                        <div class="row justify-content-center align-items-center">
                            <div class="col-12 spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    }
                   </div> 
                </div>
            </div>
        </div>
    </div>
</div>
