.list-countries{

    &__drop-list{
        min-height: 300px;
       &__country{
        height: 60px;
        cursor: grab;

            img {
            height: 58px;
            width: 80px;

            } 
        } 
    }
}
.cdk-drop-list-dragging{
    cursor: grabbing;
}
.cdk-drag-preview{
   cursor: grabbing;
   overflow: hidden;
}