<div class="row">
    <div class="col-12">

        <div class="row">
            @for(post of posts; track post._id; let first = $first){
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="card mb-4 border-0" [routerLink]="['/post', post._id, (post.title | slugify)]">
                        <!-- Imagen del post -->
                        @if(post.img){
                            <img [ngSrc]="('urlServerImages' | environment) + post.img" class="card-img-top rounded img-fluid" width="400" height="225" [priority]="first" [alt]="post.title">
                        } @else{
                            <img ngSrc="/img/default_image.png" class="card-img-top rounded img-fluid" width="400" height="225" [priority]="first" [alt]="post.title">
                        }
                        <div class="card-body">
                          <h5 class="card-title">{{post.title}}</h5>
                          <p class="card-text">
                            <i class="bi bi-clock me-1"></i>
                            <span>{{post.publishedDate | date: 'dd/MM/YYYY'}}</span>
                            {{post.content | slice:0:80}} ...
                        </p>
                        </div>
                      </div>
                </div>
            }
        </div>

    </div>
</div>