<div class="row">
    <div class="col-12">
        <!-- Cabecera -->
        <div class="row">
            <div class="col-12 border-bottom p-2">
                <span class="h3">Actualizar categorias</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Obtenemos la categoria -->
                @if(category$ | async; as category){
                 <!--<pre>{{category | json}}</pre>-->   
                    <!-- Componente formulario de categorias -->
                    <app-category-form 
                        [category]="category"
                        (submitForm)="updateCategory($event)" />
                    
                }
            </div>
        </div>

    </div>
</div>
