<div class="row">
    <div class="col-12 mb-4 border-bottom ">

        <div class="container mt-2 mb-2">

            <div class="row">
                <div class="col-9 col-sm-10">

                    <!-- Menu -->
                    <nav class="navbar navbar-expand-sm">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <!-- Mostramos las categorias en formato de menu -->
                                @if(categories$ | async; as categories){

                                    <!-- Primera llamada al template -->
                                    <ng-template *ngTemplateOutlet="templateMenu; context: { categories, orientation: 'down'}"></ng-template>

                                    <!-- Template para mostrar las categorias de forma recuriva  -->
                                    <ng-template #templateMenu let-categories="categories" let-orientation="orientation">
                                        @for(category of categories; track category._id){

                                            <li class="nav-item" [ngClass]="{
                                                'dropdown': category.children.length > 0,
                                                'dropend': orientation == 'right'
                                            }"  appHover hoverClass="show" hoverTargetSelector=".dropdown-menu">
                                                <a class="nav-link" role="button" [ngClass]="{
                                                    'dropdown-toggle': category.children.length > 0
                                                }" (click)="showPosts(category)">{{category.name}}</a>
                                                    @if(category.children.length > 0){
                                                        <ul class="dropdown-menu p-0" [ngClass]="{
                                                            'start-100 top-0': orientation == 'right'
                                                        }">
                                                            <!-- Volvemos a llamar al template con otras categorias -->
                                                            <ng-template *ngTemplateOutlet="templateMenu; context: { categories: category.children, orientation: 'right'}"></ng-template>
                                                        </ul>
                                                    }
                                            </li>
                                        }
                                    </ng-template>
                                }
                        
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-sm-2 col-3 text-end fs-4">
                    <!-- Cambio de theme -->
                    @if(themeSelected == 'light'){
                        <i class="bi bi-moon-fill" appTheme theme="dark" (themeSelected)="changeTheme($event)"></i>
                    }@else{
                        <i class="bi bi-brightness-high-fill" appTheme theme="light" (themeSelected)="changeTheme($event)"></i>
                    }                    
                </div>
            </div>
        </div>
        <!-- Logo -->
        <div class="row mb-2">
            <div class="col-12 text-center">
                <img class="img-fluid mt-4 mb-4" src="/img/logo.png" routerLink="/" alt="logo">
            </div>
        </div>

        


    </div>
</div>