<div class="row">
    <div class="col-12">

        <!-- Filtro -->
        <div class="row mt-2">
            <div class="col-12">
                <app-filter onlyYear [ngModel]="filterSignal()" (ngModelChange)="onFilter()" />
            </div>
        </div>

        <!-- Sin datos -->
        @if(emptyData){
            <div class="row">
                <div class="col-12 text-center m-5">
                    <span class="h3">No hay datos que mostrar</span>
                </div>
            </div>
        } @else{
            <!-- Grafica -->
            <div class="row">
                <div class="col-12">
                    <canvas class="w-100 h-100" id="chartBar">{{ chartBar }}</canvas>
                </div>
            </div>    
        }

    </div>
</div>