<div class="row mt-4 mb-4">
    @if(loadCocktail){
        @if(cocktail){

        }@else{
           <div class="col-12 text-center">
            <span class="d-block mb-4">No existe el cocktail.</span>
            <button class="btn btn-primary" routerLink="list-cocktails"><i class="bi bi-arrow-left me-1">
            </i>Volver</button>
           </div> 
        }

    }@else {
        <div class="col-12 text-center p-5">
           <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div> 
        </div>
        
    }
</div>
