<div class="row">
    <div class="col-12">
        <!-- Cabecera -->
        <div class="row">
            <div class="col-12 border-bottom p-2">
                <span class="h3 me-4">Categorias</span>
                <!--Esto es una forma de añadirlo-->
                <button class="btn btn-primary btn-sm mb-2" [routerLink]="['add']"> 
                <!--Esto es otra forma de añadirlo
                <button class="btn btn-primary btn-sm mb-2" [routerLink]="['/dashboard','categories','add']"></button>-->
                    <i class="bi bi-plus"></i>
                    Añadir categoria
                </button>
                <!--Esto es otra forma de hacer pasar los test
                //ESTO SE PONE EN EL DOCKER
                environment:
                 - AUTH_EXPIRES_IN =30s
                <button class="btn btn-primary btn-sm mb-2" (click)="getCategories()">
                    <i class="bi bi-plus"></i>
                    TEST
                </button>-->

            </div>
        </div>
        <div class="row">
            <div class="col-12">

                @if(pagination$ | async; as pagination){
                   <!-- esto es cunado se pone el jsonPipe
                    <pre>{{pagination| json}}</pre>--> 

                    <app-table-data 
                    [columns]="columns"
                    [rows]="pagination.content"
                    [currentPage]="pagination.page"
                    [totalPages]="pagination.totalPages"
                    [totalElements]="pagination.total"
                    selectable
                    searchable
                    placeholderSearch="Buscar por nombre..."
                    (sortData)="sortData($event)"
                    (search)="search($event)"
                    (selectPage)="selectPage($event)"
                    (selectRow)="selectRow($event)"
                    >

                    <!-- Custom template -->
                        <ng-template #templateRow let-row="row" let-col="col">
                            @switch(col.property){
                                @case ('parent'){
                                    @if(row[col.property]){
                                        <span>{{row[col.property]['name']}}</span>
                                    }
                                }
                                @default {
                                    <span>{{row[col.property]}}</span>
                                }
                            }
                        </ng-template>
                    </app-table-data>
                    
                }
                    
            </div>
        </div>
    </div>
</div>