<div class="row table-data">
    <div class="col-12">
        @if(searchable){
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [placeholder]="placeholderSearch"
                        [(ngModel)]="searchText"
                         >
                         <button class="btn btn-outline-secondary" type="button"
                         (click)="searchData()" >Buscar</button>
                        
                      </div>

                </div>
            </div>
        }

        
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <!-- Seleccion/deseleccion de todos los elementos -->
                            @if(selectable && rows.length != 0){
                                <th>
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="allChecked" (change)="toggleSelectAll()">
                                </th>
                            }
                            @for(col of columns; track col){
                              <th>
                                <!-- Añadimos las flechas de ordenacion -->
                                @if(col.canSort){
                                    @switch(col.sort){
                                        @case("ASC"){
                                            <i class="bi bi-arrow-up me-1" (click)="sort(col, 'DESC')"></i>
                                        }
                                        @case("DESC"){
                                            <i class="bi bi-arrow-down me-1" (click)="sort(col)"></i>
                                        }
                                        @default {
                                            <i class="bi bi-arrow-down-up me-1" (click)="sort(col, 'ASC')"></i>
                                        }
                                    }
                                } 
                                <span>{{col.display}}</span>
                            </th>
                            }
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Mostramos las filas -->
                        @for(row of rows; track row; let index = $index){
                            <tr>
                                @if(selectable){
                                    <td>
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedRows[index]" >  
                                    </td>
                                }
                            
                                    @for(col of columns; track col){
                                        <td>{{row[col.property]}}</td>
                                    }

                            </tr>
                        } @empty {
                            <tr>
                                <td [attr.colspan]="columns.length">No hay datos</td>
                            </tr>
                        }
                    </tbody>
                    
                  </table>
            </div>
        </div>

    </div>
</div>