<div class="row table-data">
    <div class="col-12">
        <!-- Bloque del buscador y numero de elementos -->
        @if(searchable || totalElements > 0){
            <div class="row mb-3 mt-3">
                @if(searchable){
                    <div class="col-12" [ngClass]="{'col-md-4': totalElements > 0 }">
                        <div class="input-group ">
                            <input type="text" class="form-control" [placeholder]="placeholderSearch"
                            [(ngModel)]="searchText"
                             >
                             <button class="btn btn-outline-secondary" type="button"
                             (click)="searchData()" >Buscar</button>                        
                          </div>
                    </div>
                }
                @if(totalElements > 0){
                   <!-- Mostramos el total de elementos -->
                <div class="col-md-8 col-12 text-end align-self-end pe-4" 
                [ngClass]="{'col-md-8': searchable }">
                    <span class="h5">Total de elementos: {{totalElements}}</span>
                </div> 
                }
            </div>
        }

        
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <!-- Seleccion/deseleccion de todos los elementos -->
                            @if(selectable && rows.length != 0){
                                <th>
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="allChecked" (change)="toggleSelectAll()">
                                </th>
                            }
                            @for(col of columns; track col){
                              <th>
                                <!-- Añadimos las flechas de ordenacion -->
                                @if(col.canSort){
                                    @switch(col.sort){
                                        @case("ASC"){
                                            <i class="bi bi-arrow-up me-1" (click)="sort(col, 'DESC')"></i>
                                        }
                                        @case("DESC"){
                                            <i class="bi bi-arrow-down me-1" (click)="sort(col)"></i>
                                        }
                                        @default {
                                            <i class="bi bi-arrow-down-up me-1" (click)="sort(col, 'ASC')"></i>
                                        }
                                    }
                                } 
                                <span>{{col.display}}</span>
                            </th>
                            }
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Mostramos las filas -->
                        @for(row of rows; track row; let index = $index){
                            <tr (click)="chooseRow(row)">
                                 <!-- Columna para seleccionar la fila -->
                                @if(selectable){
                                    <td (click)="$event.stopPropagation()">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedRows[index]" >  
                                    </td>
                                }
                            
                                    @for(col of columns; track col){
                                        <td>
                                            <ng-template *ngTemplateOutlet="templateRow || templateRowDefault; context: {row, col}"></ng-template>
                                        </td>
                                        <!-- Plantilla por defecto -->
                                        <ng-template #templateRowDefault>
                                            <span>{{row[col.property]}}</span>
                                        </ng-template>
                                    }

                            </tr>
                        } @empty {
                            <tr>
                                <td [attr.colspan]="columns.length">No hay datos</td>
                            </tr>
                        }
                    </tbody>
                    
                  </table>
            </div>
        </div>
        <!-- Bloque de acciones y paginacion -->
        @if((actionsAvailables.length > 0 && selectable) || totalPages > 1){
            <div class="row">
                <!-- Acciones -->
                @if(actionsAvailables.length > 0 && selectable){
                    <div class="col-md-4 col-12">
                        <div class="input-group">
                            <select class="form-select" [(ngModel)]="actionSelected.action">
                                <option [ngValue]="null">Acciones en lote</option>
                                @for(action of actionsAvailables; track action){
                                    <option [value]="action.name">{{action.display}}</option>
                                }
                            </select>
                            <button class="btn btn-outline-secondary" [disabled]="!actionSelected.action" type="button" (click)="sendAction()">Aplicar</button>
                          </div>
                    </div>
                }
                <!-- Paginacion -->
                @if(totalPages > 1){
                <div class="col-12" [ngClass]="{
                    'offset-md-2 col-md-6': actionsAvailables.length > 0 && selectable
                }">
                        <nav>
                            <ul class="pagination justify-content-md-end justify-content-center mt-3 mt-md-0">
                                @for(page of pages; track page){
                                    <li class="page-item" [ngClass]="{
                                        'active': currentPage == page
                                    }">
                                        <a class="page-link" (click)="changePage(page)">{{page}}</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                </div>
                }
            </div>
            }
    
    
        </div>
    </div>