<div class="row">
    <div class="col-12">
        @if(product$ | async; as product){
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <span class="h1 ">{{product.name | translate}}</span>
                    <mat-divider class="mt-4 mb-4" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 h-100 text-center">
                    <img [src]="'/img/products/' + product.img" [alt]="product.name | translate" />

                    <div class="row mt-4 mb-4">
                        <div class="col-7">
                            <span class="h4">{{'label.price' | translate}}: {{product.price * quantitySignal()}} €</span>
                        </div>
                        <div class="col-5">
                            <button mat-mini-fab class="me-2" (click)="oneLessProduct()"
                             [disabled]="quantitySignal() <= 1">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <span class="h4 ms-2 me-2">{{quantitySignal()}}</span>
                            <button mat-mini-fab class="ms-2" (click)="oneMoreProduct()">
                                <mat-icon>add</mat-icon>
                            </button>  
                        </div>
                    </div>
                    <button mat-flat-button class="me-2" 
                    (click)="addProduct(product)">{{'label.add.product' | translate}}</button>

                    <button mat-flat-button class="me-2" 
                    (click)="goBack()">{{'label.back' | translate}}</button>
                </div>
            </div>
        }
    </div>
</div>
